// Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 0.5rem;
  //   outline: none;
  border: none;
  border-radius: 8px;
  @include easeInOut;

  &.btn-primary {
    @include set-background($primary-color);

    &:hover {
      background: lighten($primary-color, 5%);
    }
  }

  &.btn-dark {
    @include set-background($dark-color);

    &:hover {
      background: lighten($dark-color, 5%);
    }
  }

  &.btn-success {
    @include set-background($success-color);

    &:hover {
      background: lighten($success-color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger-color);

    &:hover {
      background: lighten($danger-color, 5%);
    }
  }

  &.btn-signin {
    @include set-background($signin-color);

    &:hover {
      background: lighten($signin-color, 5%);
    }
  }

  &:hover {
    background: lighten($dark-color, 20%);
    color: #fff;
  }
}
